@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #000;
  cursor: none;
  min-height: 100vh;
}

.padding-section {
  padding: 4rem 2rem;
}



.cursor-dot {
  width: 4px;
  height: 4px;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transition: transform 0.2s ease;
}

.cursor-outline {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  transition: transform 0.2s ease, border-color 1s ease;
  box-shadow: 0 0 75px 10px #b565ffac;
}
